<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>{{ if ne .Title .Site.Title }}{{ .Title }} · {{ end }}{{ .Site.Title }}</title>

{{ $options := (dict "outputStyle" "compressed" "enableSourceMap" true) }}
{{ $style := resources.Get "css/rocinante.scss" | resources.ToCSS $options  }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}" />
<link rel="stylesheet" href="/css/rocinante-tweaks.css" />

<meta name="description" content="Assorted Writings by Danielle Navarro">
<meta name="twitter:title" content="Essays">
<meta name="twitter:card" content="summary"/>
<meta name="twitter:creator" content="@djnavarro"/>
<meta name="twitter:site" content="@djnavarro"/>
<meta name="twitter:image:src" content="http://essays.djnavarro.net/images/profile.png"/>
<meta name="og:image" content="http://essays.djnavarro.net/images/profile.png"/>

{{ with .Site.Params.favicon }}
<link rel="shortcut icon" href="{{ . }}">
{{ end }}

{{ range .AlternativeOutputFormats -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}